extends ./studentcontrol  

block content
  .container.pl-5.pr-5
    h1.mb-4.heading-secondary #{exercise.title}
    .row
      .col-sm-9
        embed(src="/" + exercise.examFile, type='application/pdf', width='100%', height='700px')
      .col-sm-3
        .card
          .card-header
            .text-center
              i.mb-2#timer-icon(class="fas fa-hourglass-half")
              h3#timer.text-danger 0:00
              h3 Your answer
          form.p-5#frmtestsubmit(action='/class/'+ classroom._id + '/student/exercise/dotest/submit', method="POST", name="frmdotest")
            input(type="hidden", name="idEx", value=exercise._id)
            each question, i in questions
              h5 Question #{i + 1}: #{question.description}
              .form-check
                input#A.form-check-input(type='radio', name="choice_"+i, value=question._id)
                label.form-check-label(for='A')
                  | A.
              .form-check
                input#B.form-check-input(type='radio', name="choice_"+i, value=question._id)
                label.form-check-label(for='B')
                  | B.
              .form-check
                input#C.form-check-input(type='radio', name="choice_"+i, value=question._id)
                label.form-check-label(for='C')
                  | C.
              .form-check
                input#D.form-check-input(type='radio', name="choice_"+i, value=question._id)
                label.form-check-label(for='D')
                  | D.
          .card-footer
            .text-center
              a.btn.btn-danger(href="javascript: $('#frmtestsubmit').submit();") Submit

block js
  script.
    var timer = document.getElementById('timer');
    const timeMinutes = '#{exercise.time}';
    let timeSecond = timeMinutes*60;
    displayTime(timeSecond);

    const countDown = setInterval(() => {
      timeSecond--;
      displayTime(timeSecond);
      if(timeSecond <= 0 || timeSecond < 1) {
        endTime();
        clearInterval(countDown);
      }
    }, 1000);

    function displayTime(second) {
      const min = Math.floor(second / 60);
      const sec = Math.floor(second % 60);
      timer.innerHTML = `${min < 10 ? '0' : ''}${min}:${sec < 10 ? '0': ''}${sec}`;
    }

    function endTime() {
      timer.innerHTML = 'TIME OUT';
      document.frmdotest.submit();
    }
