extends ../layout/common

block head
  link(rel="stylesheet", href="/css/classview.css")

block content
  .block(style="min-height: 100vh; margin-top: 8rem")
    .content.mt-3
      if(msg)
        p#msg(style="visibility: hidden;") #{msg}
      h1.heading-secondary Your class
      .group
        .button-group
          a.btn.btn-success#btn-create(href='/class/create') 
            i.fas.fa-plus.mr-2
            | Create
          a.btn.btn-primary(href='/class/enroll')
            i.fas.fa-sign-in-alt.mr-2
            | Enroll
        .form
          form.mt-3(action="/class/search", method="GET", name="myform")
            .input-group
              input.form-control.bg-light.border-0.small(type='text', placeholder='Search for a class...',  name="q", size="40", value= value? value: "", aria-label='Search', aria-describedby='basic-addon2')
              .input-group-append
                button#btnsubmit.btn.btn-primary(type='button')
                  i.fas.fa-search.fa-sm
      hr
      .list-class.mb-5
        .flex-start
          each a in allClass
            .card.bg-light(style='width: 18rem;')
              .card-header
                a.font-weight-bold(href="/class/" + a._id)= a.classname
                h5.card-title= a.teacher_info[0].name
              .card-body
                p.card-text
                  span= a.description

block js
  script.
    var msg = document.getElementById('msg');
    var status = "#{msg}";
    console.log(status);
    if(msg.textContent === "success") {
      Swal.fire('Deleted successfully!', '', 'success');
    } else if (msg.textContent === "createsuccess") {
      Swal.fire('Create class successfully!', '', 'success');
    } else if (status === "noPermission") {
      Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: 'You do not have permission to access this class!',
    })
    }
    else {
      Swal.fire('Sorry, an error has occurred !', '', 'info');
    }
    


   
